/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
}
body{
    background-color: rgb(250, 250, 250);
}
/* Create two columns*/
.column {
    float: left;
    padding-left: 10px;
    height:100%
    }
    
    /* left column */
    .column.left {
    width: 20%;
    margin-left: 30px;
    
    }
    
    /*right column*/
    .column.right {
    width: 70%;
    padding-left: 30px;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    }
    
/* farmers card */
#profile-info-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 500px;
    text-align: center;
    border-radius: 5px;
  
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  
  
  }
  #profile-info-card h1{
      font-size: 26px;
  }
  #profile-info-card h2{
      font-size: 18px;
  }
  #profile-info-card table{
      border-collapse: collapse;
      border: 0px solid black;
      margin: auto;
      width: 90%;
      height: 35%;
      font-size: 18px;
  }
  #profile-info-card .profile-upper{
      height: 55%;
  }
  
  #profile-info-card table .stats-desc{
      width: 80%;
      text-align: left;
  }
  #profile-info-card table .stat{
      width: 20%;
      text-align: right;
      color: rgb(0, 212, 35);
  }
  .profile-pic img{
      margin-top: 10px;
      width: 120px;
      height: 120px;
      border-radius: 100%;
  }

/* stock card table */
table {
    padding:10px;
    width:100%; 
}
td {
    width: 33%;
}
table,td,tr {
    border:solid transparent;
    background-color:transparent;
    text-align:center;
}
.topic {
    text-align: left;
    column-span: "3";
}

/*stock card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    background-color: white;
}

/* Upper Image Part */
.stock-img-1{
    border-radius: 10px;
}

/* Below Info part */
.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.container .line-1{
    display: flex;

} 

.container .line-1 .text1{
    width: 75% ; 
}

.container .line-1 .text2{
    text-align: left;
}

.container .line-2{
    display: flex;
}

.container .line-2 .text1{
    width: 75% ; 
}
.container .line-2 .text2 .i{
    text-align: left;
}

/* Slideshow container */
.slideshow-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
    position: relative;
}

/* Slides */
.mySlides {
    display: none;
    padding-left: 70px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* next prev buttons on hover*/
.prev:hover,
.next:hover {
    background-color: rgba(89, 136, 2, 0.8);
    color: white;
}

/* Indicator Dots */
.dot-container {
    text-align: center;
    padding: 20px;
    background-color:transparent;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
/* stock review */
#stock-description{
    width: 100%;
    height: 100%;
    border:1px solid black;
    border-radius: 5px;
}
.review{
    border:1px solid black;
    border-radius: 5px;
    height: 300px;
    background-color: white;
    width: 97%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
